@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&family=Work+Sans:wght@400;500;600&display=swap");
/* -------------------- */
/* --- RESET STYLES --- */
/* -------------------- */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/* Links */
a,
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
  /*display: inline-block;*/
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/* base styles */
/* ------------------------ */
/* ------ colors ------- */
/* ------------------------ */
/* primary brand color - skyblue - with shades and tints via Sass functions */
/* secondary brand color - hotpink - with shades and tints via Sass functions */
/* ------------------------ */
/* ------ font size ------- */
/* ------------------------ */
/* larger than heading font sizes */
/* heading font sizes */
/* smaller than heading font sizes */
/* ------------------------ */
/* ------ font family ------- */
/* ------------------------ */
/* -------------------- */
/* --- BASE STYLES --- */
/* -------------------- */
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1;
  color: #666;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}

/* bounding continer */
[class*=__container] {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.page {
  flex: 1 1 auto;
}

/*--------------------------*/
/*----------burger----------*/
/*--------------------------*/
.burger {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 8px;
  cursor: pointer;
}

.burger div {
  width: 34px;
  height: 2px;
  background-color: #000;
  transition: all 0.3s ease-in;
}

.header__burger {
  display: none;
  transition: all 0.3s ease-in;
}

.burger__close .burger__top {
  transform: rotate(37deg);
  transform-origin: left top;
  transition: all 0.3s ease-in;
}

.burger__close .burger__bottom {
  transform: rotate(-37deg);
  transform-origin: left bottom;
  transition: all 0.3s ease-in;
}

.burger__close .burger__middle {
  opacity: 0;
  transition: all 0.3s ease;
}

@media (max-width: 768px) {
  .header__burger {
    display: flex;
    transition: all 0.3s ease-in;
  }
}
/*--------------------------*/
.header {
  border-bottom: 1px solid rgba(238, 238, 238, 0.1);
  background-color: lightseagreen;
  z-index: 50;
}
.header__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  z-index: 1;
}
.header__menu {
  flex: 1 1 auto;
  margin-right: 84px;
}
.header__logo {
  display: flex;
  align-items: center;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 3px;
  align-items: center;
  justify-content: flex-end;
  transition: 0.8s;
}
.menu__item {
  display: flex;
  flex-direction: column;
  padding-top: 6px;
  align-items: center;
}
.menu__item:not(:last-child) {
  margin-right: 42px;
}
.menu__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.214; /* 17/14 */
  letter-spacing: 0.3em;
  text-transform: uppercase;
  margin-bottom: 5px;
  transition: color 0.3s ease-in-out;
  position: relative;
}
.menu__link.menu__link--active::after {
  content: "";
  width: 70%;
  height: 1px;
  background-color: #000;
  position: absolute;
  left: 15%;
  bottom: -5px;
}
.menu__link:active {
  text-decoration: none;
}
.menu__link:active::after {
  content: "";
  width: 70%;
  height: 1px;
  background-color: #000;
  position: absolute;
  left: 15%;
  bottom: -5px;
}

/*--------------------------*/
/*----------burger----------*/
/*--------------------------*/
.burger {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  cursor: pointer;
}

.burger div {
  width: 34px;
  height: 2px;
  background-color: #000;
  transition: all 0.3s ease-in;
}

.header__burger {
  display: none;
  transition: all 0.3s ease-in;
}

.burger__close .burger__top {
  transform: rotate(37deg);
  transform-origin: left top;
  transition: all 0.3s ease-in;
}

.burger__close .burger__bottom {
  transform: rotate(-37deg);
  transform-origin: left bottom;
  transition: all 0.3s ease-in;
}

.burger__close .burger__middle {
  opacity: 0;
  transition: all 0.3s ease;
}

/*--------------------------*/
/*------ media query -------*/
/*--------------------------*/
@media (max-width: 850px) {
  .header__menu {
    margin-right: 34px;
  }
}
@media (max-width: 768px) {
  .header__menu {
    position: fixed;
    left: -1000px;
    top: 70px;
    padding: 0px 0 90px 0;
    padding-left: -15px;
    width: 100%;
    background-color: #ffffff;
    z-index: 10;
    transition: left 1s ease-in;
  }
  .header__search {
    margin-right: 40px;
    flex: 1 1 auto;
    justify-content: flex-end;
  }
  .header__menu--mobile {
    display: flex;
    left: 0;
    justify-content: center;
    transition: left 0.5s ease-in;
  }
  .header__burger {
    display: flex;
    transition: all 0.3s ease-in;
  }
  .menu__list {
    flex-direction: column;
    align-items: center;
  }
  .menu__item {
    font-size: 24px;
    padding: 10px;
  }
  .menu__item:not(:last-child) {
    margin-right: 0;
  }
}
@media (max-width: 320px) {
  .header__search {
    margin-right: 20px;
  }
}
.customers {
  width: 80%;
  max-width: 1137px;
  margin: 185px auto;
  display: flex;
  justify-content: space-between;
}
.customers__images {
  width: 44%;
  position: relative;
}
.customers__images__picture {
  width: 100%;
  border-radius: 20px;
}
.customers__images__graph {
  position: absolute;
  width: 50%;
  top: 200px;
  left: 150px;
  border-radius: 15px;
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.12);
}
.customers__info {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.customers__info__heading {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 36px;
  color: black;
  margin-bottom: 40px;
}
.customers__info__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 60px;
}
.customers__info__list-item {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: black;
}
.customers__info__btn {
  color: white;
  background-color: #0A2640;
  border-radius: 56px;
  padding: 16px 56px;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  align-self: start;
}

.about-us {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 226px;
}
.about-us__images {
  width: 40%;
  position: relative;
}
.about-us__images__picture {
  width: 100%;
  border-radius: 25px;
}
.about-us__images__graph {
  position: absolute;
  width: 50%;
  top: 280px;
  left: 50px;
  border-radius: 15px;
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.12);
}
.about-us__info {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
.about-us__info__heading {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 36px;
  color: black;
}
.about-us__info__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 60px;
}
.about-us__info__list-item {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: black;
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  padding: 16px 53px 16px 20px;
}

.testimonials {
  width: 100%;
  max-width: 1440px;
  background-color: #0A2640;
  padding-top: 100px;
  padding-left: 150px;
  padding-bottom: 170px;
}
.testimonials__header {
  display: flex;
  justify-content: space-between;
}
.testimonials__header__heading {
  color: white;
  font-family: "Manrope", sans-serif;
  font-size: 48px;
  font-weight: 400;
  width: 55%;
}
.testimonials__box {
  display: flex;
  justify-content: space-between;
  width: 79%;
  max-width: 1140px;
  gap: 22px;
  margin-top: 72px;
}
.testimonials__box__card {
  background-color: white;
  border-radius: 12px;
  width: 34%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  gap: 40px;
  box-shadow: 0px 12px 32px rgba(0, 0, 0, 0.12);
}
.testimonials__box__card__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: black;
}

.card-profile {
  display: flex;
}
.card-profile img {
  width: 20%;
  border-radius: 50%;
  height: fit-content;
}
.card-profile__info {
  margin-left: 16px;
}
.card-profile__info__name {
  font-weight: 700;
  font-size: 16px;
  color: #0A2640;
  margin-bottom: 6px;
}
.card-profile__info__position {
  font-weight: 400;
  font-size: 14px;
  color: #0A2640;
}

/*# sourceMappingURL=index.css.map */
