/*--------------------------*/
.header {
  border-bottom: 1px solid rgba(238, 238, 238, 0.1);
  background-color: lightseagreen;
  z-index: 50;
  &__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    z-index: 1;
  }
  &__menu {
    flex: 1 1 auto;
    margin-right: 84px;
  }
  &__logo {
    display: flex;
    align-items: center;
  }
}

.menu {
  &__list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 3px;
    align-items: center;
    justify-content: flex-end;
    transition: 0.8s;
  }
  &__item {
    display: flex;
    flex-direction: column;
    padding-top: 6px;
    align-items: center;
    &:not(:last-child) {
      margin-right: 42px;
    }
  }
  &__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.214; /* 17/14 */
    letter-spacing: 0.3em;
    text-transform: uppercase;
    margin-bottom: 5px;

    transition: color 0.3s ease-in-out;

    position: relative;
  }
  &__link.menu__link--active::after {
    content: "";
    width: 70%;
    height: 1px;
    background-color: #000;
    position: absolute;
    left: 15%;
    bottom: -5px;
  }
  &__link:active {
    text-decoration: none;
  }
  &__link:active::after {
    content: "";
    width: 70%;
    height: 1px;
    background-color: #000;
    position: absolute;
    left: 15%;
    bottom: -5px;
  }
}

/*--------------------------*/
/*----------burger----------*/
/*--------------------------*/
.burger {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  cursor: pointer;
}
.burger div {
  width: 34px;
  height: 2px;
  background-color: #000;
  transition: all 0.3s ease-in;
}
.header__burger {
  display: none;
  transition: all 0.3s ease-in;
}
.burger__close .burger__top {
  transform: rotate(37deg);
  transform-origin: left top;
  transition: all 0.3s ease-in;
}
.burger__close .burger__bottom {
  transform: rotate(-37deg);
  transform-origin: left bottom;
  transition: all 0.3s ease-in;
}
.burger__close .burger__middle {
  opacity: 0;
  transition: all 0.3s ease;
}
/*--------------------------*/
/*------ media query -------*/
/*--------------------------*/
@media (max-width: 850px) {
  .header__menu {
    margin-right: 34px;
  }
}
@media (max-width: 768px) {
  .header {
    &__menu {
      position: fixed;
      left: -1000px;
      top: 70px;
      padding: 0px 0 90px 0;
      padding-left: -15px;
      width: 100%;
      background-color: #ffffff;
      z-index: 10;
      transition: left 1s ease-in;
    }
    &__search {
      margin-right: 40px;
      flex: 1 1 auto;
      justify-content: flex-end;
    }
    &__menu--mobile {
      display: flex;
      left: 0;
      justify-content: center;
      transition: left 0.5s ease-in;
    }
    &__burger {
      display: flex;
      transition: all 0.3s ease-in;
    }
  }
  .menu__list {
    flex-direction: column;
    align-items: center;
  }
  .menu__item {
    font-size: 24px;
    padding: 10px;
    &:not(:last-child) {
      margin-right: 0;
    }
  }
}

@media (max-width: 320px) {
  .header__search {
    margin-right: 20px;
  }
}
