@use "sass:math";

// Function for converting a px based font-size to rem.
@function rem($size) {
  @return math.div($size, 16) * 1rem;
}

//EM
@function em($px, $current: 16) {
  $result: math.div($px, $current) + em;
  @return $result;
}

// Mixin that will include the fall back px declaration as well as the calculated rem value.
@mixin fontSize($size) {
  font-size: $size;
  font-size: rem($size);
}
