/* base styles */
$ff-base: "Open Sans", sans-serif;
$fw-base: 400;
$fs-base: rem(16);
$lh-base: 1;
$clr-base: #ffffff;
$width-container: 1200px; // on 30px more then real container

/* ------------------------ */
/* ------ colors ------- */
/* ------------------------ */
// $clr-base-lt: #999;
// $clr-base-dk: #333;

/* primary brand color - skyblue - with shades and tints via Sass functions */
// $clr-primary: skyblue;
// $clr-primary-lt: lighten($clr-primary, 5%);
// $clr-primary-ltr: lighten($clr-primary, 10%);
// $clr-primary-dk: darken($clr-primary, 5%);
// $clr-primary-dkr: darken($clr-primary, 10%);

/* secondary brand color - hotpink - with shades and tints via Sass functions */
// $clr-secondary: hotpink;
// $clr-secondary-lt: lighten($clr-secondary, 5%);
// $clr-secondary-ltr: lighten($clr-secondary, 10%);
// $clr-secondary-dk: darken($clr-secondary, 5%);
// $clr-secondary-dkr: darken($clr-secondary, 10%);
// tertiary,
// quaternary

/* ------------------------ */
/* ------ font size ------- */
/* ------------------------ */

/* larger than heading font sizes */
// $fs-giga: 80px;
// $fs-mega: 70px;
// $fs-kilo: 60px;

/* heading font sizes */
// $fs-h1: 36px;
// $fs-h2: 32px;
// $fs-h3: 28px;
// $fs-h4: 24px;
// $fs-h5: 20px;
// $fs-h6: 18px;

/* smaller than heading font sizes */
// $fs-milli: 14px;
// $fs-micro: 10px;
// $fs-nano: 8px;

/* ------------------------ */
/* ------ font family ------- */
/* ------------------------ */
// $ff-alt-alpha: "Open Sans", sans-serif;
// $ff-alt-beta: "Roboto", sans-serif;
// $ff-icon: "My Icon Font";
